@font-face {
  font-family: 'roboto';
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url("../fonts/Roboto-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'roboto';
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'AdobeInvisFont';
  src: url("../fonts/AdobeInvisFont.ttf");
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0 auto;
}

.header {
  max-width: 100%;
  display: flex;
  height: 29px;
  font-family: 'roboto';
  font-size: 13px;
  font-weight: 400;
  color: #585B64;
  border-bottom: 2px solid #D9DADF;
  flex-wrap: wrap;
}

/* .header_list {
  display: flex;
  align-items: center;
  list-style-type: none;
} */

.nav_wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: 477px;
}

.header_nav {
  display: flex;
  align-items: center;
}

.header_list-pic {
  margin-left: 16px;
  display: block;
}

.header_list-item {
  text-decoration: none;
  color: #585B64;
  display: block;
  margin-left: 3px;
}

.header_select {
  font-family: 'roboto';
  font-size: 13px;
  font-weight: 400;
  color: #585B64;
  border: none;
  text-decoration: dashed underline;
  margin-left: 423px;
}

/* -----------------------TOP--------------------- */

.top {
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  height: 79px;
  font-family: 'roboto';
  font-weight: 500;
  padding-top: 26px;
  box-sizing: border-box;
}

.top_img {}

.top_address {
  font-size: 14px;
  margin-left: 672px;
  display: flex;
  align-items: center;
  width: 127px;
}

.top_address-link {
  color: #0159C9;
  margin-left: 8px;
}

.top_phone {
  font-size: 15px;
  margin-left: 182px;
}

.top_phone-link {
  color: #0159C9;
  display: block;
  margin-left: 25px;
}

.top_phone-text1 {
  font-size: 22px;
  color: #787878;
  margin-left: 8px;
}

.top_phone-text2 {
  font-size: 22px;
  font-weight: 700;
}

.top_cart {
  font-size: 15px;
  color: #575C62;
  display: flex;
  align-items: center;
  margin-left: 61px;
}

.top_cart-text {
  display: block;
  margin-left: 13px;
}

.top_img-gps {}

.top_img-phone {}

.top_img-cart {}

.search {}

.search_form {
  margin-left: 672px;
  padding-top: 12px;
  display: inline-block;
}

.search_form-input {
  width: 527px;
  height: 41px;
  background-repeat: no-repeat;
  background-position: 491px;
  background-image: url('/img/pics/search.png');
  border-color: #BFBFBF;
  ;
}

.search_form-input::placeholder {
  color: #C5C5C5;
  padding-left: 23px;
  font-style: italic;
  font-size: 14px;
}

.search_icons {
  display: inline-block;
  margin-left: 66px;
}

.search_icons-graph {}

.search_icons-heart {
  margin-left: 11px;
}

.search_icons-man {
  margin-left: 23px;
}

.search_login {
  font-family: 'roboto';
  font-weight: 400;
  font-size: 15px;
  margin-left: 6px;
  color: #ADB2B6;
}

.menu {
  height: 57px;
  background-color: #565B61;
  display: flex;
  justify-content: center;
}

.menu_item {
  text-decoration: none;
  display: block;
  font-size: 13px;
  font-family: 'roboto';
  font-weight: 500;
  color: #F3F3F3;
  width: 114px;
  align-items: center;
  display: flex;
}

.menu_item-text {}

.orange_item {}

.orange_text {
  margin-left: 4px;
}